<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link dark" >Landmarks</button>
        </li>
        <li class="nav-item">
          <button class="nav-link dark">Transport</button>
        </li>
        <li class="nav-item">
          <button class="nav-link dark">Hotels</button>
        </li>
      </ul>

<app-landmarks [landmarks]="landmarksArray" [destination]="queryData.query"></app-landmarks>
<app-transport [transportArray]="transportsArray" [destination]="queryData.query"></app-transport>
<app-hotel [hotelsArray]="hotelsArray" [destination]="queryData.query"></app-hotel>
</div>

