<div class="container">
  <h1 class="text-center mb-4">{{ destination | capitalize}} Landmarks</h1>
  <div class="cardContainer d-flex">
    <div
      class="card text-dark bg-light mb-3"
      *ngFor="let landmark of landmarks"
    >
      <div class="card-header text-center"><img src="https://image.flaticon.com/icons/png/128/305/305953.png">
        </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ landmark.label}}</h5>
        <p class="card-text"></p>
        
      </div>
    </div>
  </div>
</div>
