

    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="cont">
        <div class="header-text caption">
          <h2>Choose your destination</h2>
          <div id="search-section">
            <form id="suggestion_form" (ngSubmit)="onSubmit()">
              <div class="searchText searchArea">
                <input
                  type="search"
                  class="searchText"
                  placeholder="Enter Your Travel Destination..."
                  id="query"
                  name="query"
                  [(ngModel)]="query"
                />
         
                <button
                  type="submit"
                  class="main-button"
                >
                  Search Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{query}}
    <!-- Banner Ends Here -->

    