<div class="card mb-3 pt-3">
  <div class="card-body">
    <div class="edit-delete">
      <img
        class="edit me-2"
        (click)="onEditIconClick()"
        src="https://image.flaticon.com/icons/png/128/1159/1159633.png"
      />
      <img
        class="delete"
        (click)="onDeleteIconClick()"
        src="https://image.flaticon.com/icons/png/128/1345/1345823.png"
      />
    </div>
    <h5 class="card-title">{{ review.hotel }} feedback</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ review.opinion }}</h6>
    <span>
      <img
        [src]="
          review.rating > 0
            ? 'https://image.flaticon.com/icons/png/128/616/616489.png'
            : 'https://image.flaticon.com/icons/png/128/616/616821.png'
        "
        [class.yellow]="review.rating > 0"
      />
    </span>
    <span>
      <img
        [src]="
          review.rating > 1
            ? 'https://image.flaticon.com/icons/png/128/616/616489.png'
            : 'https://image.flaticon.com/icons/png/128/616/616821.png'
        "
        [class.yellow]="review.rating > 1"
      />
    </span>
    <span>
      <img
        [src]="
          review.rating > 2
            ? 'https://image.flaticon.com/icons/png/128/616/616489.png'
            : 'https://image.flaticon.com/icons/png/128/616/616821.png'
        "
        [class.yellow]="review.rating > 2"
      />
    </span>
    <span>
      <img
        [src]="
          review.rating > 3
            ? 'https://image.flaticon.com/icons/png/128/616/616489.png'
            : 'https://image.flaticon.com/icons/png/128/616/616821.png'
        "
        [class.yellow]="review.rating > 3"
      />
    </span>
    <span>
      <img
        [src]="
          review.rating > 4
            ? 'https://image.flaticon.com/icons/png/128/616/616489.png'
            : 'https://image.flaticon.com/icons/png/128/616/616821.png'
        "
        [class.yellow]="review.rating > 4"
      />
    </span>
    <p class="card-text" *ngIf="review.reviewAuthor">
      <i>by {{ review.reviewAuthor }}</i>
    </p>
  </div>
</div>
