.box{
    height: 100vh;
    padding:15%;
    background-image: url("../shared/pics/1435909.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.error-text{
    color: white;
}
h1{
    font-size:25vh;
}

h2{
    font-family:cursive;
}
