.box{
    height: 100vh;
    padding:15%;
    background-image: url("../shared/pics/menu_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity:0.8;
}

.error-text{
    color: white;
}
h1{
    font-size:25vh;
}

h2{
    font-family:cursive;
}
