.container{
    min-height:200px;
}
.cardContainer{
    flex-wrap:wrap;
    justify-content: space-between;
    min-height:480px;
}

.card{
    width:32%;
    margin-bottom:20px;
}

.pagination{
    width:fit-content;
    text-align: center;
}