.container {
  min-height: 200px;
  padding: 10% 20px;
  background-color: white;
}
.cardContainer {
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 480px;
}

.card {
  width: 32%;
  margin-bottom: 20px;
}

.pagination {
  width: fit-content;
  text-align: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: -40px;
  margin-top: -2px;
}
