<div class="container box">
  <div class="col-7 p-2 ms-4 recommendations" *ngIf="usersArray">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">UID</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of usersArray"
          (click)="onClick(user)"
          [routerLink]="['/feedback']"
        >
          <td>{{ user.displayName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.uid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
