.recommendations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  min-height: 200px;
}

.recommendation {
  width: 47%;
  display: flex;
}

.box {
  min-height: 1200px;
  padding-top: 100px;
  width: fit-content;
  margin: 0 auto;
}

td {
  min-width: 350px;
}
tr {
  cursor: pointer;
}
tr:hover {
  background-color: rgb(226, 217, 217);
}
