
    <!-- Page Content -->
    <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-5 col-md-4 loginCont">
          <h1 class="text-white ms-3 text-center">Please, Sign in</h1>
          <div class="form-login">
            <h4>Secure Login</h4>

            <input
              type="text"
              id="email"
              name="email"
              class="form-control input-sm chat-input"
              placeholder="username"
              value="eve.holt@reqres.in"
              [(ngModel)]="userInfo.email"
            />

            <input
              type="text"
              id="password"
              name="password"
              class="form-control input-sm chat-input"
              placeholder="password"
              value="cityslicka"
              [(ngModel)]="userInfo.password"
            />

            <div class="wrapper">
              <span class="group-btn">
                <button
                  class="btn login btn-md mt-3"
                  (click)="authorize()"
                >
                  login 
                </button>
              </span>
              <p class="mt-3 mb-1">Not Registered? Sign up</p><a [routerLink]="['/signUp']" class="signUp">Here</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>


