.recommendations{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    min-height:800px; 
    padding-top:100px;
}

.recommendation{
    width:47%;
    display:flex;
    background-color: yellow;
}

.card{
    width:100%;
    height:100%;
}


span img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

span > img.yellow {
    width: 23px;
    height: 23px;
  }